@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700&display=swap');

/*EDITANDO SCROOLLBAR*/
::-webkit-scrollbar{
    width: 10px;
    transition: all .2s linear;
}

::-webkit-scrollbar-track{
    background-color: #1F2B20;
}

::-webkit-scrollbar-thumb{
    background-color: #49ae39;
}

*{
    user-select: none;
    scroll-behavior: smooth;
}

body{
    font-family: Roboto Slab;
    overflow-x: hidden;
}

/*HOME*/
#home{
    position: relative;
    top: 0px;
    background-color: #1F2B20;
    background-image: url("../img/logoBG.png");
    background-size: 600px;
    background-position: 1rem;
    background-repeat: no-repeat;

}

header{
    position: fixed;
    padding: 4rem;
    display: flex;
    width: 80%;
    margin-left: 7%;
    top: 0;
    transition: .5s ease-in-out;
    z-index: 1000000;
    justify-content: center;
}

.container{
    width: 90%;
    display: flex;
    align-items: center;
    margin-top: 10px;
    transition: .5s ease-in-out;
    justify-content: space-between;
}

header .container{
    padding: 2rem 1rem 1rem 2rem ;
    height: 40px;
}

header.sticky{
    margin-left: 15%;
    border-radius: 0px 0 5px 5px;
    height: 108px;
    padding: 0rem;
    width: 70%;
    background-color: #1F2B20;
}

header.sticky .container{
    width: 100%;
}

.container img{
    width: 180px;
    position: relative;
    bottom: 5px;
    transition: 0.2s;
}

.container img:hover{
    width: 180px;
    position: relative;
    bottom: 8px;
}

ul{
    font-family: Roboto Slab;
    display: flex;
}

ul li{
    margin: 0 1.5rem;
}


#icon_login{
    width: 25px;
    transition: .2s;
}

 #icon_login:hover{
    cursor: pointer;
   
}

a{
    font-weight: 300;
    text-decoration: none;
    color: #FFF0A6;
    transition: .2s linear;
}

a:hover{
    font-weight: 500;
    color: #fff6c9;
}

.bar{
    width: 0;
    height: 3px;
    margin: 1px auto;
    margin-top: 10px;
    transition: all .3s ease;
}

a:hover .bar{
    background-color: #61B954;
    width: 60%;
}

.banner{
    padding-top: 15rem;
}

.banner #woman_img{
    width: 500px;
    bottom: 0;
    left: 30px;
    transition: left .2s ease;
}

#woman_img:hover{
    bottom: 0;
    left: 25px;
    
}

.banner .container{
    margin: auto;
    width: 90%;
}

.msg{
    width: 540px;
    padding-bottom: 120px;
}

.msg .txt{
    margin-bottom: .8rem;
}

.msg h4{
    margin-left: 5px;
    letter-spacing: .5px;
    color: #ffedaa;
    font-weight: 300;
}

.msg h1{
    color: #61B954;
    font-size: 45px;
    line-height: 3rem;
    transition: .1s linear;
}

.msg h1:hover{
    font-weight: 700;
}

.msg span{
    margin-left: 5px;
    color: #FFF;
    font-size: 20px;
    font-weight: 300;
}


.button{
    padding-top: 1.5rem;
    display: flex;
    width: 320px;
}

.button button{
    font-family: Roboto Slab;
    padding: 10px;
    border-radius: 5px;
    background-color: #61B954;
    position: relative;
    box-shadow: 5px 5px 0 black;
    transition: all .1s ease-in;
    width: 150px;
}

#more{
    width: 120px;
    left: 15px;
}

#more:hover{
    width: 130px;
}

.button button:hover{
    width: 160px;
    font-weight: 700;
    cursor: pointer;
    background-color: #49ae39;
}


/*QUEM SOMOS*/
#who{
    padding: 3rem 0;
    background-color: #D9D9D9;
}

#who .container{
    width: 100%;
}

.who_txt{
    width: 65%;
    display: flex;
    align-items: center;
}

.text{
    padding: 10rem;
}

.text h1{
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 1rem;
}

.text p{
    font-size: 21px;
    line-height: 2rem;
}

.barra{
    background-color: #49ae39;
    height: 400px;
    width: 50px;
}

#who img{
    width: 400px;
    margin-right: 10%;
}

#who img:hover{
    width: 410px;
}


/*iOT*/
#iOT{
    padding: 10rem 4rem;
    background-color: #78CF6B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upperTitle{
    color: #080808;
    font-size: 25px;
    letter-spacing: 4px;
    margin-bottom: .8rem;
}

.title{
    color: #085007;
    font-size: 50px;
    margin-bottom: 5rem;
}

#iOT .container{
    width: 95%;
    justify-content: space-evenly;
}

.topic{
    padding: 2rem;
    background-color: #6fc662;
    height: 400px;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topic img{
    margin-bottom: 2rem;
}

.topic img:hover{
    width: 190px;
}

.info h2{
    font-size: 20px;
    font-weight: 600;
    color: #085007;
    margin-bottom: 1rem;
}

.info p{
    font-size: 15px;
    line-height: 22px;
}

#seed{
    padding: 0 0 5rem;
    background-color: #78CF6B;
}

#seed .container{
    width: 100%;
    margin: 0;
}

#seed .text{
    padding: 0 5rem 0 10rem;
}

#seed .text p{
    font-size: 17px;
}


.sementes{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 2rem;
    width: 45%;
    height: 400px;
}

.semente{
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.semente h1{
    font-size: 25px;
    color: #085007;
    transition: .1s linear;
}

.semente:hover  h1{
    font-weight: 700;
    width: 110px;
}

.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2rem 0 0;
    padding: 1rem;
    background-color: #91e384;
    border-radius: 1000px;
    width: 100px;
    height: 100px;
}

.circle img{
    width: 100px;
}

.circle img:hover{
    width: 110px;
}


/*SERVICE*/
#service{
    background-color: #0f1410;
    padding: 5rem 0 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.infoS{
    padding-left: 10rem;
    width: 35%;
}

.infoS img{
    width: 200px;
    margin-bottom: 2rem;
}

.infoS p{
    color: #e7ffe3;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
}

.infoS .button{
    width: 50%;
}

.infoS .button button{
    font-size: 16px;
    width: 200px;
}

.mockupDash{
    background-color: #abff9e;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
}

.mockupDash img{
    position: relative;
    right: 10rem;
    width: 700px;
}

/*TEAM*/
#team{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10rem 4rem 4rem;
    background-color: #1F2B20;
    background-image: url("../img/logoBG.png");
    background-size: 1000px;
    background-position: 1rem;
    background-repeat: no-repeat;
}


#team .container{
    justify-content: space-around;
    transition: none;
}

#team h3{
    font-size: 40px;
    color: white;
    letter-spacing: 2px;
    margin-bottom: 5rem;
}

.membro{
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 4rem 2rem;
}

.membro h1{
    color: white;
    font-size: 35px;
}

.membro span{
    color: #78CF6B;
    letter-spacing: 2px;
}

.n1{
    font-weight: 300;
    margin-bottom: .5rem;
}

.n2{
    font-weight: 500;
    margin-bottom: 1rem;
}

.foto{
    width: 150px;
    height: 150px;
    margin-right: 3rem;
    border: 1px solid #78CF6B;
    border-radius: 0 50px 0 50px;
    background-size: cover;
    background-repeat: no-repeat;
    transition: .1s ease-out;
}

.f1{
    background-image: url("../img/teamRuan.jpg");
}
.f2{
    background-image: url("../img/teamRyu.png");
}
.f3{
    background-image: url("../img/teamMaya.png");
}
.f4{
    background-image: url("../img/teamPimentel.jpg");
}
.f5{
    background-image: url("../img/teamEstela.png");
}
.f6{
    background-image: url("../img/teamDuda.jfif");
}

.foto:hover{
    box-shadow: 0 0 20px #6fc662;
}

footer{
    text-align: center;
    color:#d3ffcd;
    font-weight: 100;
    padding: 4rem 10rem 2rem;
    background-color: #3C4F3D;
}

.copy{
    font-size: 15px;
    letter-spacing: .5px;
}

.tudao{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
}

footer .container{
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-bottom: 4rem;
    width: 70%;
}

footer .container img{
    width: 200px;
    margin-bottom: 6rem;
}

footer .container img:hover{
    width: 200px;
    margin-bottom: 6rem;
}

.contain{
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: white;
}

.top{
    width: 25%;
    text-align: left;
}

.top a:focus .social-icon{
    background-color: #FFF;
}

.top h1{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 2rem;
}

.top h5{
    font-size: 15px;
    font-weight: 200;
    margin-bottom: 10px;
}

.top h5 a{
    transition: .1s linear;
}

.social{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #49ae39;
    position: relative;
    width: 12%;
    height: 400px;
    border-radius: 0 15px 0 15px;
    transition: .2s linear;
}

.social-icon{
    padding: 1rem;
    border-radius: 0 15px 0 15px;
    background-color: #54bd44;
    margin: 5px;
    transition: .1s linear;
}

.social-icon:hover{
    background-color: #65d154;
}

.social-icon img{
    width: 30px;
}

